.carousel .item {
	overflow: hidden;
	padding-left: 50%;
}
.carousel .item > img,
.carousel .item > a {
	display: block;
	margin-left: -600px;
	max-width: none;
	width: 1200px;
}
.carousel-title,
.carousel-description {
	display: block;
}

